<p id="notice"><%= notice %></p>

<h1>Event Lists</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Event</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_lists.each do |event_list| %>
      <tr>
        <td><%= event_list.user %></td>
        <td><%= event_list.event %></td>
        <td><%= link_to 'Show', event_list %></td>
        <td><%= link_to 'Edit', edit_event_list_path(event_list) %></td>
        <td><%= link_to 'Destroy', event_list, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event List', new_event_list_path %>
